@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can customize fonts here */
@layer base {
  html, body, #root {
  @apply min-h-full bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors;
  }
}

/* Minimal reset to avoid conflicts with Tailwind */
body {
  margin: 0;
  padding: 0;
}

/* Add this at the end of your CSS file */

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a5b4fc;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}